@import url('https://fonts.googleapis.com/css2?family=Play:wght@300;700&display=swap');
*{
    color: rgb(36, 50, 36);
    font-family: 'Play', sans-serif;
    margin-bottom: 15px;
    // background-color: rgb(0, 255, 162);
    background-color: whitesmoke;
}